footer.terminal {
    margin: 2em;
    font-size: 60%;
    text-align: center;
}

form {
    margin: 0 0.6em 1em;
}

form label {
    font-size: 180%;
    text-align: center;
}

.validate {
    font-size: 125%;
    margin: 1em 0 1em;
}

/* source http://www.colourlovers.com/palette/1231651/Fantasia_Hippo */
.number-column .selected {
    background: #20FC90; /* this is a green */
}

.joker-column .selected {
    background: #FC70C2; /* this is a red */
}

.face-column .selected {
    background: #FFD637; /* this is an orange */
}

.button-primary {
    background: #76D8FF; /* this is a blue */
}

.result {
    font-size: 80%
}